* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color:#FFFFFF;
}

nav{
    width: 100%;
    background-color: #ED4631;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}
