* {
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  line-height: 1.5;
}

/* navbar using flexbox */

nav {
  width: 100%;
  background-color: #ed4631;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px 30px;
  color: white;
}

nav .logo {
  font-size: 1.1rem;
  white-space: nowrap;
  margin-left: 45px;
}

nav a {
  color: white;
}

nav a:hover {
  text-decoration: none;
}

nav ul {
  display: flex;
  padding-top: 15px;
  flex-wrap: nowrap;
}

nav ul li {
  font-weight: bold;
  font-size: 0.8rem;
  white-space: nowrap;
  padding: 0px 14px;
}

.mobile-view {
  display: none;
}

/* mobile view for the navbar */

@media only screen and (min-width: 576px) {
  nav {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  nav .logo {
    margin-left: 48px;
    font-size: 1.4rem;
  }

  .mobile-view {
    padding: 0px 5px;
    display: inline;
  }
}

/* the main section  */

/* the hero area */

main .hero-area {
  background-image: linear-gradient(
      to bottom,
      rgba(000, 000, 000, 0.2),
      rgba(000, 000, 000, 0.4)
    ),
    url("https://media-cdn.tripadvisor.com/media/photo-s/15/a1/d2/af/hotel-r-de-paris.jpg");
  width: 100%;
  height: 70vh;
  background-size: cover;
  color: white;
  padding: 20px;
}

.hero-text {
    font-weight: 700;
    text-align: center;
    margin-top: 20%;
  }

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 20%;
  margin: 0 auto;
  background-color: rgba(235, 235, 235, 0.5);
  border-radius: 10px;
  margin: 5%;
}

.label-text {
  align-self: start;
  margin-left: 10%;
  margin-bottom: -3px;
  margin-top: 3%;
  color: black;
    
}
.search-input {
  width: 80%;
  border-radius: 5px;
  border: 0.5px solid #ebebeb;
  margin: 10px auto;
}

.search-btn {
  width: 80%;
  border-radius: 5px;
  border: 0.5px solid rgba(235, 235, 235, 0.5);
  background-color: red;
  color: white;
  font-weight: 700;
}


.how-it-works-btn {
    display: flex;
    width: 150px;
    height: 35px;
    font-size: 1.2rem;
    border:0.5px solid rgba(235, 235, 235, 0.5);
    border-radius: 5px;
    margin-left: 5%;
    font-weight: 700;
    padding: 3px;
    padding-left: 10px;
    white-space: nowrap;
    margin-top: 5%;

}

.how-it-works-btn:hover {
    color: red;
}

footer .ft-upper-nav {
  border-top: 0.1px solid #837979;
  border-bottom: 0.1px solid #837979;
}

.upper-container {
  position: relative;
}

@media only screen and (max-width: 576px) {
  .ft-upper-nav ul .nav-link {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  footer ul li {
    font-size: 0.9rem;
    color: green;
  }
}

.form-control {
  background-color: #495057;
  border: 0.5px solid #837979;
}

.lower-footer {
  background-color: #495057;
}

.lower-footer ul .nav-link {
  font-size: 1.3rem;
  padding: 0 5px;
}
footer .location-icon {
  background-color: #6c757d;
  border-radius: 50%;
  border-bottom: 0.1px solid #837979;
}

/* @media only screen and (max-width: 576px) {
    .lower-footer {
        flex-direction: column;
        justify-items: center;
    }
  } */

/* footer .location-icon {
    position:absolute;
    left: 47%;
    top: 50%;
} */

/* footer .location-icon {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
} */
